<div id="home" class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/toquio_lounge_icone.png')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
               <!-- <h2 class="presentation-subtitle text-center">🎤 Casa de show & Lounge 💨</h2> -->
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Desenvolvido por <a href="https://www.instagram.com/moises.est3vao/">Moisés Estevão</a>
        <!-- <h6 class="category category-absolute">Designed and coded by -->

            <a href="https://www.instagram.com/moises.est3vao/" target="_blank">
                <img style="width:30px ;height:30px ;" src="assets/img/moises.png" class="creative-tim-logo">
            </a>
        </h6>
    </div>
    <div class="main">
        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Cardápio</h2>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis imperdiet lectus at dignissim rhoncus. Nullam quis diam elit. Donec interdum finibus tincidunt. Vivamus et augue ex. Duis ut lacus sed elit auctor mattis et imperdiet ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-image: url('assets/img/backcardapio.jpg')" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-8 ml-auto mr-auto text-center section-dark">
                        <h2 class="title" style="color:white">Produto 1</h2>
                        
                        <p class="description" style="color:white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis imperdiet lectus at dignissim rhoncus. Nullam quis diam elit. Donec interdum finibus tincidunt. Vivamus et augue ex. Duis ut lacus sed elit auctor mattis et imperdiet ipsum.</p>
                    </div>  
                    <br>  
                    <img class="col-lg-5 col-md-8 ml-auto mr-auto text-center mb-3 produtoimagem" width="1050" height="450" src="assets/img/drink.png">

                    
                </div>      
            </div>
        </div>  
    </div> 
</div>
