<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/toquio_lounge_icone.png')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
               <!-- <h2 class="presentation-subtitle text-center">🎤 Casa de show & Lounge 💨</h2> -->
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Desenvolvido  <a href="https://www.instagram.com/moises.est3vao/">Moisés Estevão</a>
        <!-- <h6 class="category category-absolute">Designed and coded by -->

            <a href="https://www.instagram.com/moises.est3vao/" target="_blank">
                <img style="width:30px ;height:30px ;" src="assets/img/moises.png" class="creative-tim-logo">
            </a>
        </h6>
    </div>
    <div class="main">
          <div class="section section-dark " style="background-image: url('assets/img/sobrenos.png');">
              <div class="container">
                  <div class="row">
                      <div  class="col-lg-12 col-md-12">
                          <h2 class="title">Sobre Nós</h2><br/>
                          <p style="color: #ffffff;" class="description">
                              Lorem ipsum dolor sit amet. Cum voluptas error vel ullam veniam et veritatis itaque? Est sint iste qui maxime deleniti At quae explicabo est vitae nemo sit voluptatem quam? Ut earum magni id assumenda magni qui voluptatum architecto et dolor obcaecati vel labore temporibus nam autem enim. In suscipit nobis non voluptatibus asperiores est repellendus animi ad dolor eaque qui Quis molestias ab corrupti fugiat 33 totam quod. Aut quos ipsam qui suscipit velit ut voluptatem quos eum optio rerum.   
                          </p>
                          <br/>
                          <a [routerLink]="['/nucleoicons']" class="btn btn-success btn-round">Nossos Eventos</a>
                          <a href="https://nucleoapp.com/?ref=1712" class="btn btn-outline-success btn-round" target="_blank">Fale conosco</a>
                      </div> 
                      <div class="col-lg-6 col-md-12 col-sm-12 ml-1 mt-4">
                          <div class="icons-container">
                              <iframe class="col-lg-12 col-md-10 col-sm-6" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14645.884312747412!2d-46.8550313!3d-23.4073443!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x60e4895a02af7318!2sT%C3%B3quio%20Lounge!5e0!3m2!1spt-PT!2sbr!4v1650591305366!5m2!1spt-PT!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="section section-dark">
              <div class="container">
                  <div class="row">
                      <div class="col-md-8 ml-auto mr-auto text-center">
                          <h2 class="title">A melhor casa de shows e lounge da região</h2>
                          <p class="description">Estamos em constante evolução e implementando melhorias para nossa lounge. Buscando proporcionar o melhor entretenimento e diversão aos nossos clientes.</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="section" id="carousel">
            <div class="container">
                <div class="row">   
                    <div class="section">
                        <div class="container">
                            <div class="row">
                                <div  class="col-lg-8 col-md-12">
                                    <h2 class="title">Tóquio Highlights</h2><br/>
                                    <p style="color: #000000;" class="description">
                                        Lorem ipsum dolor sit amet. Cum voluptas error vel ullam veniam et veritatis itaque? Est sint iste qui maxime deleniti At quae explicabo est vitae nemo sit voluptatem quam? Ut earum magni id assumenda magni qui voluptatum architecto et dolor obcaecati vel labore temporibus nam autem enim. In suscipit nobis non voluptatibus asperiores est repellendus animi ad dolor eaque qui Quis molestias ab corrupti fugiat 33 totam quod. Aut quos ipsam qui suscipit velit ut voluptatem quos eum optio rerum.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-8 col-sm-12 card page-carousel">
                        <ngb-carousel style="width:14cm; height: 14cm;" >
                            <ng-template ngbSlide>
                                <img style="width:14cm; height: 14cm;" src="./assets/img/dfideliz.png" alt="Random third slide">
                                <div class="carousel-caption">
                                    <p>Dfideliz</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img style="width:14cm; height: 14cm;"  src="./assets/img/mcdavi.jpg" alt="Random first slide">
                                <div class="carousel-caption">
                                    <p>Mc Davi</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img style="width:14cm; height: 14cm;" src="./assets/img/mcdede.png" alt="Random second slide">
                                <div class="carousel-caption">
                                    <p>MC Dede</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img style="width:14cm; height: 14cm;" src="./assets/img/gaab.jpg" alt="Random third slide">
                                <div class="carousel-caption">
                                    <p>Gaab</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img style="width:14cm; height: 14cm;" src="./assets/img/hariel.png" alt="Random third slide">
                                <div class="carousel-caption">
                                    <p>Mc Hariel</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img style="width:14cm; height: 14cm;" src="./assets/img/krawk.png" alt="Random third slide">
                                <div class="carousel-caption">
                                    <p>Krawk</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img style="width:14cm; height: 14cm;" src="./assets/img/paulin.png" alt="Random third slide">
                                <div class="carousel-caption">
                                    <p>MC Paulin da Capital</p>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>
